<div class="card">
  <div class="card-body m-2">
    <h4 class="card-title">{{match.name}}</h4>

    <div class="pull-right">
      <button class="btn btn-primary btn-join-match" {{action 'joinMatch'}}>
        Join Match!
      </button>
    </div>
  </div>
</div>
