<div class="header-container pt-3">
  <h3>Match Creation</h3>
</div>

<form>
  <div class="form-group">
    <label>Name</label>
    {{input id="match-name" type="text" class="form-control" value=match.name}}
    <small class="text-muted">Give your match a name so that your friends are able to join!</small>
  </div>

  <div class="form-group">
    <label>Size</label>
    {{#power-select options=sizes selected=match.size onchange=(action (mut match.size)) as |size|}}
      {{size}}
    {{/power-select}}
  </div>

  <button type="submit" class="btn btn-primary" {{action 'createMatch'}}>Create Match</button>
</form>
