<div class="header-container pt-3">
  <h3>Profile</h3>
</div>

{{#if displaySucessMessage}}
  <div class="alert alert-success">
    <i class="fa fa-check" aria-hidden="true"></i>
    Your profile has been saved!
  </div>
{{/if}}

<form>
  <div class="form-group">
    <label>Display Name</label>
    {{input id="match-name" type="text" class="form-control" value=profile.displayName}}
    <small class="text-muted">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      That's the name people will see when joining games.
    </small>
  </div>

  <button type="submit" class="btn btn-primary pull-right" disabled={{disableSave}} {{action 'save'}}>
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
  </button>

</form>
